* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    text-align: center;    
}

.content {
    max-width: 300px;
    margin: 0 auto;
}

.img {

}

.text {

}